.footerContainer {
    width: 100%;
    padding-bottom: 20px;
    color: white;
}

.footerContainer .endCredits {
    float: right;
}

.footerContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerContainer .link {
    text-decoration: none;
    color: #ffffff;
}

.footerContainer li {
    padding: 20px;
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
}