body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

.customContainer {
  background-color: #27293D;
  border-radius: 5px;
  /* border-style: solid;
  border-color: #696969;
  border-width: 2px; */
  padding: 15px;
}

.primaryText {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
}

.secondaryText {
  color: #DEE5E5;
  font-size: 16px;
  margin: 0;
}

