body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
}

.customContainer {
  background-color: #27293D;
  border-radius: 5px;
  /* border-style: solid;
  border-color: #696969;
  border-width: 2px; */
  padding: 15px;
}