.sidebarContainer {
    padding: 30px;
    position: fixed;
    width: 13.5vw;
}

.sidebarContainer .headerSiderbar {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.sidebarContainer h6 {
    color: #dcdcdc;
    text-transform: uppercase;
    font-size: 14px;
}

.sidebarContainer .title {
    font-weight: bold;
    color: #ffffff;
}

.linkContainer {
    height: 85vh;
    padding: 15px 10px;
    border-radius: 4px;
    background: linear-gradient(0deg,#3358f4,#1d8cf8);
}

.sidebarContainer .imageLogo {
    width: 25px;
    height: 25px;
}

.sidebarContainer .listItem {
    margin: 15px 0px;
}
