.launchItem {
    margin-top: 5px;
}

.launchItem .launchItemDetailContainer {
    padding: 20px;
    display: block;
}

.launchItem .launchPatchContainer {
    /* border-style: solid;
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 50%;
    border-color: #FFFFFF;
    border-width: 2px; */
    margin-right: 30px;
}

.launchItem .launchPatchImage {
    width: 100px;
    height: 100px;
}

.launchItem .launchItemHeaderContainer {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.launchItem .launchItemTitle {
    color: #ffffff;
    font-size: 38px;
    display: inline;
}

.launchItem .missionName {
    color: #9a9a9a;
    font-size: 28px;
}

.launchItem .launchItemStatusContainer {
    margin-top: 10px;
}

.launchItemStatusContainer p {
    display: inline;
    color: #9a9a9a;
    margin-right: 20px;
}

.launchItem .launchItemDescriptionContainer {

}

.launchItem .launchTableContainer {

}

.launchItemLinks {
    margin-top: 20px;
}

.launchItemLinks .linkButton{
    margin-right: 10px;
    width: 110px;
}
